*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx


*.iml
.gradle
/local.properties
.idea
/.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
target/
*.iml
*.ipr
*.iws
*.log
*.class
.idea/
build/
*.orig
/gradle.properties
gradlew
gradlew.bat
gradle/*
keystore/*

*.apk

